- groups.each do |month,items|
  - if month.kind_of? Date
    %h2=month.strftime("%B %Y")
  - else
    %h2.month=@month_names[month]
  .groups.open
    - items.each do |date, photos|
      .group
        %h2.toggler
          = date.strftime("%d.%m.")
          = photos.map{|i|i.location}.reject(&:blank?).uniq.join(", ")
          - photos.each do |photo|
            = image_tag photo.file.url(:thumb), alt: ""
          = link_to "#toggle", class: "handle" do
            = image_tag "img_trans.gif"
          = link_to bulk_add_shares_path(date: date), class: "share_day" do
            = image_tag "img_trans.gif"
        .body
          = render photos



