%h1 Shares

%ul
  - @shares.each do |share|
    %li{:id => "share-#{share.id}"}
      = link_to share do
        = share.name
        (#{share.photos.count})
      = link_to share, data: {method: "delete", remote: true, confirm: "Really?"} do
        %i.fa.fa-trash-o



= render template: "shares/new"
