- months_and_days.each do |month,days|
  %h2.month=@month_names[month]
  .groups.open
    - days.each do |day|
      .group
        %h2.toggler{data: {id: day.id}}
          = day.date.strftime("%d.%m.")
          = day.locations
          = image_tag day.montage.url
          = link_to "#toggle", class: "handle" do
            = image_tag "img_trans.gif"
          = link_to bulk_add_shares_path(date: day.date), class: "share_day", title: "Add images to a Share" do
            %i.icon-share
        .body.unloaded

