.photo{:id => "photo-#{photo.id}"}
  = link_to photo.file.url(:large), rel: photo.modal_group  do
    = image_tag photo.file.url(:preview)
  .wrapper
    .options
      - if logged_in?
        = link_to photo_path(photo), title: "Delete", data: {confirm: "Really delete?", method: "delete", remote: true}, class: "delete" do
          %i.icon-trash
        = link_to edit_photo_path(photo), title: "Share", class: "share" do
          %i.icon-share
      = link_to photo.file.url(:original), title: "Download", class: "download" do
        %i.icon-download-alt
      .info
        .entry= "Camera: #{photo.exif["make"]} #{photo.exif["model"]}"
        .entry= "Aperture #{photo.exif["aperture_value"]} Exposure #{photo.exif["exposure_time"]} ISO #{photo.exif["iso_speed_ratings"]}"
        .entry= "Shot at: #{l(photo.shot_at, format: :short)}"
      .clearfix


