.photo{:id => "photo-#{photo.id}"}
  = link_to photo.file.url(:large), rel: photo.modal_group, title: photo.caption  do
    = image_tag photo.file.url(:preview)

  .wrapper
    .options
      - if logged_in?
        = link_to photo_path(photo), title: "Delete", data: {confirm: "Really delete?", method: "delete", remote: true}, class: "delete" do
          %i.icon-trash
        = link_to edit_photo_path(photo), title: "Edit & Share", class: "share" do
          %i.icon-edit
        - if @share
          = link_to remove_image_share_path(@share, photo_id: photo.id), title: "Remove from share", class: "remove-share" do
            %i.icon-remove
        = link_to ocr_photo_path(photo), title: "OCR", data: {method: :post, remote: true} do
          %i.icon-search
        %br
        = link_to rotate_photo_path(photo, direction: :left), title: "Rotate left", data: {method: :post, remote: true} do
          %i.icon-undo
        = link_to rotate_photo_path(photo, direction: :right), title: "Rotate right", data: {method: :post, remote: true} do
          %i.icon-repeat
        = link_to rotate_photo_path(photo, direction: :flip), title: "Rotate 180 degrees", data: {method: :post, remote: true} do
          %i.icon-refresh
      = link_to photo.file.url(:original), title: "Download", class: "download" do
        %i.icon-download-alt
      .info
        .entry= truncate "Camera: #{photo.exif["make"]} #{photo.exif["model"]}", length: 30
        .entry= "Aperture #{photo.exif["aperture_value"]} Exposure #{photo.exif["exposure_time"]} ISO #{photo.exif["iso_speed_ratings"]}"
        .entry= "Shot at: #{l(photo.shot_at, format: :short)}"
      .clearfix


