%h1 Photos
#toc
#file-uploader

-#= render "groups", groups: @groups
- @years.each do |year,count|
  .year
    %h2
      = link_to photos_ajax_year_path(:year => year), :class => "year-switch" do
        = year
        = "(#{count})"
    .year-body



.clear
- if @years.length == 0
  = render "layouts/manual"
