%h1 Photos
- @groups.each do |month,items|
  %h2.month=l month, format: "%B %Y"
  .groups
    - items.each do |date, photos|

      .group
        %h2.toggler
          = date.strftime("%d.%m.")
          = photos.map{|i|i.location}.reject(&:blank?).uniq.join(", ")
          - photos.each do |photo|
            = image_tag photo.file.url(:thumb), alt: ""
          = link_to "#toggle", class: "handle" do
            = image_tag "img_trans.gif"

        .body
          = render photos

  .clear
- if @groups.length == 0
  .hint
    Usage:
    %ul
      %li
        Download
        = link_to "Autoshare App", "https://play.google.com/store/apps/details?id=com.dngames.autoshare&feature=search_result"
        for your Android
      %li
        Configuration: "Webserver"
        %ul
          %li Active YES
          %li
            Server Address:
            = photos_url
          %li
            Username:
            = current_user.username
          %li
            Password: ****
      %li
        Upload some photos with Autoshare or configure it for auto-upload for new images

