- content_for :sidebar do
  #messages
  #file-uploader
  #yearbar
    %ul.nav.nav-list.bs-docs-sidenav
      - @years.each do |year,count|
        %li
          %a{href: "#year-#{year}"}
            %i.icon-chevron-right
            = year
#recent.year
  %h2.year-title
    = link_to "#", class: "year-switch" do
      =t ".recently_uploaded"
      - if @last_upload
        .ago
          = t ".last_upload", time: time_ago_in_words(@last_upload)

  .year-body(style="display: none;")
    - @recent.each do |photo|
      = render photo



- @years.each do |year,count|
  .year
    %h2.year-title{id: "year-#{year}"}
      = link_to photos_ajax_year_path(:year => year), :class => "year-switch" do
        = year
        = "(#{count})"
    .year-body

.clear
- if @years.length == 0
  = render "layouts/manual"
