%h1 Photos
- @groups.each do |date,items|
  %h2=date.strftime("%d.%m.%Y")
  - items.each do |item|
    .photo
      = link_to item.file.url(:large) do
        = image_tag item.file.url(:preview)
      .wrapper
        .options
          = link_to photo_path(item), method: "delete", title: "Delete", confirm: "Really delete?", class: "delete" do
            = image_tag "img_trans.gif"
          = link_to photo_share_path(item.share_hash), title: "Share", class: "share" do
            = image_tag "img_trans.gif"
          = link_to item.file.url(:original), title: "Download", class: "download" do
            = image_tag "img_trans.gif"
