- content_for :sidebar do
  #messages
  #file-uploader
  #yearbar
    %ul.nav.nav-list.bs-docs-sidenav
      - @years.each do |year,count|
        %li
          %a{href: "#year-#{year}"}
            %i.icon-chevron-right
            = year

- @years.each do |year,count|
  .year
    %h2.year-title{id: "year-#{year}"}
      = link_to photos_ajax_year_path(:year => year), :class => "year-switch" do
        = year
        = "(#{count})"
    .year-body

.clear
- if @years.length == 0
  = render "layouts/manual"
